@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

// Setting default values
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

// Colors
$bg-color: #161513;
$green: #00ffb6;


body{
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;
    gap: 0;
    .bg-img{
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        width: 100vw;
        z-index: -1;
    }

    &::-webkit-scrollbar{
        display: none;
    }
    section{
        background-color: $bg-color;
        width: 100vw;
        z-index: 2;
    }
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-heading{
    font-family: Montserrat;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    color: $green;
}

footer{
    background-color: $bg-color;
    padding: 3em 3em;
    color: white;
    width: 100vw;
    main{
        border-top: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        padding-top: 3em;
        width: 100%;
        a img{
            width: 180px;
            height: auto;
        }
        .footer-contents{
            flex-direction: column;
            gap: 2em;
            .column{
                flex-direction: column;
                gap: .7em;
                .social-media-icons{
                    gap: 1em;
                    align-self: center;
                }
                .ad{
                    flex-direction: column;
                    border-bottom: 1px solid white;
                    padding: 1em 0em;
                }
                .cnt{
                    flex-direction: column;
                }
            }
        }
    }
    
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}
.open{
    transform: scale(1,1);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    position: relative;
    padding: 1em 2em;
    z-index: 10;
    .logo-container{
        img{
            height: 30px;
        }
    }
    nav{
        width: 100vw;
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 5;
        transform: scale(1, 0);
        transform-origin: 50% 0%;
        transition: transform .1s ease-in-out;
        ul{
            width: 100%;
            background-color: #000000e2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            gap: 3em;
            list-style-type: none;
            padding: 2em 0;
            li{
                a{
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: white;
                    &:hover{
                        color: $green;
                    }
                }
            }
        }
    }
}

.hero{
    flex-direction: column;
    padding-bottom: 3em;
    main{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        padding: 2em 0;
        padding-bottom: 2em;
        gap: 3em;
        .headings{
            .title{
                font-size: 3.7rem;
                color: $green;
                text-align: center;
                font-weight: 700;
            }
            .sub-title{
                font-size: 1.25rem;
                font-weight: 600;
                text-align: center;
                color: white;
            }
        }

        .swiper {
            width: 100%;
            .swiper-pagination-bullet{
                background-color: white;
            }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                padding: 0 1em;
                img{
                    display: block;
                    width: 100%;
                    max-height: 400px;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
        p{
            color: white;
            text-align: center;
            padding: 0 2em;
            font-size: 14px;
        }
    }
}

.about{
    color: white;
    padding: 4em 1em;
    padding-bottom: 0;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 3em;
    .abt-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        p{
            text-align: center;
        }
        .sub-cnt{
            font-size: 14px;
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .speaker{
        width: auto;
        height: 400px;
    }
}

.yt-videos{
    flex-direction: column;
    gap: 3em;
    padding: 5em 0;
    padding-top: 5em;
    .video-grid{
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        row-gap: 1em;
        column-gap: 2em;
        width: 100%;
        padding: 0 1em;
        iframe{
            max-width: 100%;
        }
    }
}

.photo-sec{
    height: 200px;
    background-color: transparent;
    // backdrop-filter: blur(50px);
    filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.5);
    main{
        flex-direction: column;
        padding: 0 1em;
        display: none;
        .ph1{
            flex: 1;
            width: 100%;
        }
    }
}




@media only screen and (min-width: 1000px){
    header{
        padding: 4em 9em;
        .hamburger{
            display: none;
        }
        .logo-container{
            img{
                height: 50px;
            }
        }
        nav{
            transform: scale(1,1);
            position:static;
            top: 0;
            width: auto;
            ul{
                flex-direction: row;
                background-color: transparent;
                gap: 5em;
                li{
                    a{
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .sub-heading{
        font-size: 4rem;
    }

    .hero{
        main{
            gap: 1em;
            padding: 0 5em;
            gap: 2em;
            // background-color: red;
            .headings{
                .title{
                    font-size: 4rem;
                    color: $green;
                }
                .sub-title{
                    font-size: 2rem;
                }
            }

            .swiper{
                width: 70%;
                .swiper-slide {
                    padding: 0em 1em;
                    img{
                        object-position: top;
                        height: 500px;
                        width: auto;
                        margin: 0em 5em;
                    }
                    video{
                        width: 100%;
                        height: 500px;
                        margin: 0em 5em;
                    }
                }
            }
            p{
                padding: 0;
                font-size: 1rem;
            }
        }
    }
    .about{
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 5em 5em;
        padding-bottom: 0;
        .abt-details{
            padding-bottom: 5em;
            .sub-heading{
                align-self: flex-start;
            }
            justify-content: flex-start;
            p{
                text-align: left;
                font-size: 1.2rem;
            }
            .sub-cnt{
                font-size: 1rem;
            }
        }
    }
    .yt-videos{
        gap: 5em;
        padding: 5em 0;
        .video-grid{
            grid-template-columns: auto auto;
            justify-content: space-evenly;
        }
    }
    .photo-sec{
        main{
            padding: 0 10em;
        }
    }
    footer{
        main{
            flex-direction: row;
            justify-content: space-between;
            .footer-contents{
                flex-direction: row;
                align-items: flex-start;
                gap: 3em;
                .column{
                    align-items: flex-start;
                    p{
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px){
    footer{
        padding: 5em 5em;
        main .footer-contents{
            gap: 3em;
        }
    }
    .about{
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 5em 5em;
        padding-bottom: 0;
        gap: 5em;
        .abt-details{
            height: 600px;
            padding: 5em 0;
            justify-content: center;
            .sub-heading{
                align-self: flex-start;
            }
            justify-content: flex-start;
            p{
                text-align: left;
                font-size: 1.2rem;
            }
            .sub-cnt{
                font-size: 1rem;
            }
        }
        .speaker{
            height: 600px;
        }
    }
}

@media only screen and (min-width: 1440px){
    footer main .footer-contents{
        .address{
            .addresses{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1.5em;
                .ad{
                    border: none;
                    padding: 0;
                }
            }
        }
    }

}