@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  background-color: #161513;
}
body .bg-img {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  z-index: -1;
}
body::-webkit-scrollbar {
  display: none;
}
body section {
  background: linear-gradient(289deg, #185550 36.57%, #09C87D 98.94%);
  width: 100vw;
  z-index: 2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-heading {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  color: #00ffb6;
}

footer {
  background-color: #161513;
  padding: 3em 3em;
  color: white;
  width: 100vw;
}
footer main {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding-top: 3em;
  width: 100%;
}
footer main a img {
  width: 180px;
  height: auto;
}
footer main .footer-contents {
  flex-direction: column;
  gap: 2em;
}
footer main .footer-contents .column {
  flex-direction: column;
  gap: 0.7em;
}
footer main .footer-contents .column .social-media-icons {
  gap: 1em;
  align-self: center;
}
footer main .footer-contents .column .ad {
  flex-direction: column;
  border-bottom: 1px solid white;
  padding: 1em 0em;
}
footer main .footer-contents .column .cnt {
  flex-direction: column;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.open {
  transform: scale(1, 1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1em 2em;
  z-index: 10;
}
header .logo-container img {
  height: 120px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav {
  width: 100vw;
  display: block;
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 5;
  transform: scale(1, 0);
  transform-origin: 50% 0%;
  transition: transform 0.1s ease-in-out;
}
header nav ul {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8862745098);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  list-style-type: none;
  padding: 2em 0;
}
header nav ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}
header nav ul li a:hover {
  color: #00ffb6;
}

.whatsapp {
  position: fixed;
  z-index: 200;
  bottom: 5em;
  right: 2em;
  background-color: #60d669;
  padding: 1em 1em;
  border-radius: 20px;
}

.hero {
  flex-direction: column;
  padding-bottom: 3em;
  position: relative;
}
.hero main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10em 0;
  gap: 3em;
}
.hero main .headings .title {
  font-size: 4rem;
  color: #00ffb6;
  text-align: center;
  font-weight: 700;
}
.hero main .headings .sub-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: white;
}
.hero main .swiper {
  width: 100%;
}
.hero main .swiper .swiper-pagination-bullet {
  background-color: white;
}
.hero main .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 1em;
}
.hero main .swiper .swiper-slide img {
  display: block;
  width: 100%;
  max-height: 400px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero main p {
  color: white;
  text-align: center;
  padding: 0 2em;
  font-size: 14px;
}

.social {
  background: none;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 5em 0;
}
.social .headings {
  padding: 1em 2em;
}
.social .headings p {
  color: white;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
.social .headings .discover {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 1em;
}
.social main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.social main a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  gap: 1em;
  font-size: 1.2rem;
  font-weight: 800;
}

.about {
  color: white;
  padding: 4em 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.about .abt-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.about .abt-details p {
  text-align: center;
}
.about .abt-details .sub-cnt {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
.about .abt-details .submit-btn {
  text-decoration: none;
  color: black;
  background-color: #00ffb6;
  border-radius: 10px;
  padding: 1em 4em;
  flex-direction: column;
}
.about .abt-details .submit-btn .main {
  font-size: 1.2rem;
  font-weight: 700;
}
.about .abt-details .submit-btn .sub {
  font-size: 1.1rem;
  font-weight: 400;
}
.about .speaker {
  width: auto;
  height: 400px;
}

.testimonials {
  background: none;
  flex-direction: column;
  background-color: #00ffb6;
  padding: 5em 2em;
}
.testimonials h2 {
  color: black;
}
.testimonials .content-sec {
  width: 100%;
  gap: 3em;
  padding-top: 3em;
  flex-direction: column;
}
.testimonials .content-sec .card {
  flex-direction: column;
  gap: 1em;
}
.testimonials .content-sec .card p {
  text-align: center;
  font-size: 1rem;
}
.testimonials .content-sec .card .name, .testimonials .content-sec .card .desig {
  font-weight: 700;
  font-size: 1.2rem;
}

.insta {
  padding: 5em 1em;
  background: none;
  background-color: #1c1b1b;
}

.yt-videos {
  flex-direction: column;
  gap: 3em;
  padding: 5em 0;
  padding-top: 5em;
}
.yt-videos .video-grid {
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  row-gap: 3em;
  -moz-column-gap: 2em;
       column-gap: 2em;
  width: 100%;
  padding: 0 1em;
}
.yt-videos .video-grid iframe {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.photo-sec {
  height: 200px;
  background-color: transparent;
  filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5);
}
.photo-sec main {
  flex-direction: column;
  padding: 0 1em;
  display: none;
}
.photo-sec main .ph1 {
  flex: 1;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  header {
    padding: 2em 3em;
  }
  header .hamburger {
    display: none;
  }
  header .logo-container img {
    height: 150px;
    width: auto;
    aspect-ratio: 3/2;
  }
  header nav {
    transform: scale(1, 1);
    position: static;
    top: 0;
    width: auto;
    align-self: flex-start;
  }
  header nav ul {
    background-color: blue;
    align-items: flex-start;
    flex-direction: row;
    background-color: transparent;
    gap: 3em;
  }
  header nav ul li a {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .sub-heading {
    font-size: 4rem;
  }
  .hero main {
    padding: 0em 5em;
    gap: 5em;
    height: 90vh;
  }
  .hero main .headings .title {
    font-size: 5rem;
    color: #00ffb6;
  }
  .hero main .headings .sub-title {
    font-size: 3rem;
    transform: translateY(-14px);
  }
  .hero main .swiper {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero main .swiper .swiper-slide {
    padding: 0em 1em;
  }
  .hero main .swiper .swiper-slide img {
    -o-object-position: top;
       object-position: top;
    height: 450px;
    width: auto;
    margin: 0em 5em;
  }
  .hero main .swiper .swiper-slide video {
    padding: 2em;
    width: 100%;
    height: 100%;
    margin: 0em 10em;
  }
  .hero main p {
    padding: 0;
    font-size: 1.2rem;
  }
  .hero main .social {
    flex-direction: column;
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
  }
  .social {
    flex-direction: column;
    padding: 5em 0;
    gap: 3em;
  }
  .social .headings p {
    font-size: 1.2rem;
  }
  .social .headings .discover {
    font-size: 1.5rem;
  }
  .social main {
    flex-direction: row;
    gap: 5em;
  }
  .about {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5em 5em;
  }
  .about .abt-details {
    padding-bottom: 5em;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .about .abt-details .sub-heading {
    align-self: flex-start;
  }
  .about .abt-details p {
    text-align: left;
    font-size: 1.2rem;
  }
  .about .abt-details .sub-cnt {
    font-size: 1rem;
  }
  .about .abt-details .submit-btn {
    margin-top: 4em;
  }
  .about .abt-details .submit-btn .main {
    font-size: 1.5rem;
  }
  .about .abt-details .submit-btn .sub {
    font-size: 1.2rem;
  }
  .testimonials {
    padding: 8em 8em;
  }
  .testimonials .content-sec {
    flex-direction: row;
    gap: 5em;
  }
  .testimonials .content-sec .card {
    gap: 2em;
  }
  .testimonials .content-sec .card .quote {
    width: 80px;
    height: auto;
  }
  .testimonials .content-sec .card p {
    font-size: 1.3rem;
  }
  .testimonials .content-sec .card .name, .testimonials .content-sec .card .desig {
    font-size: 1.5rem;
  }
  .insta {
    padding: 5em 10em;
    background-color: #1c1b1b;
  }
  .yt-videos {
    gap: 8em;
    padding: 10em 0;
  }
  .yt-videos .video-grid {
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }
  .photo-sec main {
    padding: 0 10em;
  }
  footer main {
    flex-direction: row;
    justify-content: space-between;
  }
  footer main .footer-contents {
    flex-direction: row;
    align-items: flex-start;
    gap: 3em;
  }
  footer main .footer-contents .column {
    align-items: flex-start;
  }
  footer main .footer-contents .column p {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1300px) {
  footer {
    padding: 5em 5em;
  }
  footer main .footer-contents {
    gap: 3em;
  }
  .social .headings p {
    font-size: 1.5rem;
  }
  .social .headings .discover {
    font-size: 2rem;
  }
  .social main {
    gap: 6em;
  }
  .social main a {
    font-size: 1.5rem;
  }
  .about {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5em 5em;
    gap: 5em;
  }
  .about .abt-details {
    height: 600px;
    padding: 5em 0;
    justify-content: center;
    justify-content: flex-start;
  }
  .about .abt-details .sub-heading {
    align-self: flex-start;
  }
  .about .abt-details p {
    text-align: left;
    font-size: 1.4rem;
  }
  .about .abt-details .sub-cnt {
    font-size: 1.3rem;
  }
  .about .speaker {
    height: 600px;
  }
}
@media only screen and (min-width: 1440px) {
  footer main .footer-contents .address .addresses {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5em;
  }
  footer main .footer-contents .address .addresses .ad {
    border: none;
    padding: 0;
  }
}/*# sourceMappingURL=styles.css.map */