@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

// Setting default values
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

// Colors
$bg-color: #161513;
$green: #00ffb6;


body{
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;
    .bg-img{
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        width: 100vw;
        z-index: -1;
    }

    &::-webkit-scrollbar{
        display: none;
    }
    section{
        // background-color: $bg-color;
        background: linear-gradient(289deg, #185550 36.57%, #09C87D 98.94%);
        width: 100vw;
        z-index: 2;
    }
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-heading{
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    color: $green;
}

footer{
    background-color: $bg-color;
    padding: 3em 3em;
    color: white;
    width: 100vw;
    main{
        border-top: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        padding-top: 3em;
        width: 100%;
        a img{
            width: 180px;
            height: auto;
        }
        .footer-contents{
            flex-direction: column;
            gap: 2em;
            .column{
                flex-direction: column;
                gap: .7em;
                .social-media-icons{
                    gap: 1em;
                    align-self: center;
                }
                .ad{
                    flex-direction: column;
                    border-bottom: 1px solid white;
                    padding: 1em 0em;
                }
                .cnt{
                    flex-direction: column;
                }
            }
        }
    }
    
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}
.open{
    transform: scale(1,1);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1em 2em;
    z-index: 10;
    .logo-container{
        img{
            height: 120px;
            width: auto;
            object-fit: cover;
        }
    }
    nav{
        width: 100vw;
        display: block;
        position: absolute;
        top: 120px;
        left: 0;
        z-index: 5;
        transform: scale(1, 0);
        transform-origin: 50% 0%;
        transition: transform .1s ease-in-out;
        ul{
            width: 100%;
            background-color: #000000e2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            gap: 3em;
            list-style-type: none;
            padding: 2em 0;
            li{
                a{
                    font-size: 1.1rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                    &:hover{
                        color: $green;
                    }
                }
            }
        }
    }
}

.whatsapp{
    position: fixed;
    z-index: 200;
    bottom: 5em;
    right: 2em;
    background-color: #60d669;
    padding: 1em 1em;
    border-radius: 20px;
}

.hero{
    flex-direction: column;
    padding-bottom: 1em;
    position: relative;
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 2em 0;
        padding-top: 5em;
        gap: 3em;
        // .headings{
        //     .title{
        //         font-size: 4rem;
        //         color: $green;
        //         text-align: center;
        //         font-weight: 700;
        //     }
        //     .sub-title{
        //         font-size: 2rem;
        //         font-weight: 600;
        //         text-align: center;
        //         color: white;
        //     }
        // }

        .swiper {
            width: 100%;
            .swiper-pagination-bullet{
                background-color: white;
            }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                padding: 0;
                img{
                    display: block;
                    width: 100%;
                    // max-height: 400px;
                    height: 400px;
                    object-fit: cover;
                }
                video{
                    width: 100%;
                    height: 400px;
                    background-color: $bg-color;
                }
            }
        }
        p{
            color: white;
            text-align: center;
            padding: 0 2em;
            font-size: 14px;
        }
    }
}

.social{
    background: none;
    display: flex;
    flex-direction:  row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    a{
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        // border: 2px solid #ec4a62;
        padding: 5px 15px;
        border-radius: 100px;

        svg{
            width: 40px;
            height: auto;
        }
    }
    .facebook{
        // border: 2px solid #1877f2;
    }
}

.about{
    color: white;
    padding: 4em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    background-color: #0EB476;
    gap: 3em;
    .abt-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        .col1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2em;
            .main-cnt{
                font-size: 1.7rem;
                font-weight: 600;
            }
            .submit-btn{
                text-decoration: none;
                color: black;
                background-color: $green;
                border-radius: 5px;
                padding: .9em 3em;
                flex-direction: column;
                .main{
                    font-size: 1.2rem;
                    font-weight: 700;
                }
                .sub{
                    font-size: 1.1rem;
                    font-weight: 400;
                }
            }
        }
        p{
            text-align: center;
        }
        .col2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2em;
            .sub-cnt{
                font-size: 1.2rem;
                font-weight: 600;
                color: white;
                padding: 1em 1em;
            }
            .loc{
                border: 3px solid #0bec9a;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                border-radius: 10px;
                padding: 1em 1.5em;
                gap: 1em;
                p{
                    color: #e3ff37;
                    font-size: 1.3rem;
                    font-weight: 600;
                    text-align: left;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    svg{
                        height: 30px;
                        width: auto;
                    }
                }
            }
        }
        .speaker{
            width: auto;
            height: 400px;
        }
    }

}
.testimonials{
    background: none;
    flex-direction: column;
    background-color: $green;
    padding: 5em 2em;
    h2{
        color: black;
    }
    .content-sec{
        width: 100%;
        gap: 3em;
        padding-top: 3em;
        flex-direction: column;
        .card{
            flex-direction: column;
            gap: 1em;
            p{
                text-align: center;
                font-size: 1rem;
            }
            .name, .desig{
                font-weight: 700;
                font-size: 1.2rem;
            }
        }
    }
}

.insta{
    padding: 5em 1em;
    background: none;
    background-color: #1c1b1b;
}

.yt-videos{
    flex-direction: column;
    gap: 3em;
    padding: 5em 0;
    padding-top: 5em;
    .video-grid{
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        row-gap: 3em;
        column-gap: 2em;
        width: 100%;
        padding: 0 1em;
        iframe{
            max-width: 100%;
            height: auto;
            aspect-ratio: 16/9;
        }
    }
}

.photo-sec{
    height: 200px;
    background-color: transparent;
    // backdrop-filter: blur(50px);
    filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.5);
    main{
        flex-direction: column;
        padding: 0 1em;
        display: none;
        .ph1{
            flex: 1;
            width: 100%;
        }
    }
}




@media only screen and (min-width: 1000px){
    header{
        padding: 1em 3em;
        .hamburger{
            display: none;
        }
        .logo-container{
            img{
                height: 150px;
                width: auto;
                aspect-ratio: 3/2;
            }
        }
        nav{
            transform: scale(1,1);
            position:static;
            top: 0;
            width: auto;
            align-self: flex-start;
            ul{
                background-color: blue;
                align-items: flex-start;
                flex-direction: row;
                background-color: transparent;

                gap: 3em;
                li{
                    a{
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .sub-heading{
        font-size: 4rem;
    }

    .hero{
        main{
            padding: 0em 5em;
            gap: 0em;
            height: 90vh;
            // justify-content: center;
            // .headings{
            //     .title{
            //         font-size: 5rem;
            //         color: $green;
            //     }
            //     .sub-title{
            //         font-size: 3rem;
            //         transform: translateY(-14px);
            //     }
            // }

            .swiper{
                // background-color: transparent;
                padding-top: 0;
                width: 70%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .swiper-slide {
                    padding: 0em 1em;
                    img{
                        object-position: top;
                        height: 450px;
                        width: auto;
                        margin: 0em 5em;
                    }
                    video{
                        padding: 2em;
                        width: 100%;
                        height: 100%;
                        margin: 0em 10em;
                        background-color: transparent;
                    }
                }
            }
            p{
                padding: 0;
                font-size: 1.2rem;
            }
            .social{
                flex-direction: column;
                position: absolute;
                right: 2em;
                bottom: 50%;
                gap: 5em;
                transform: translateY(50%);
                a{
                    svg{
                        width: 50px;
                    }
                }
            }
        }
    }
    .about{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10em 2em;
        height: 100vh;
        flex-direction: row;
        .abt-details{
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            height: 100%;
            gap: 0;
            .col1{
                .sub-heading{
                    font-size: 3rem;
                }
                flex: 1;
                width: 100%;
                height: 100%;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 4em;
                .main-cnt{
                    font-size: 2.5rem;
                    font-weight: 700;
                    text-align: left;
                }
            }
            .col2{
                flex: 1;
                .sub-cnt{
                    font-size: 1.3rem;
                }
                .loc{
                    p{
                        font-size: 1.3rem;
                        font-weight: 700;
                    }
                }
            }
            .speaker{
                height: 500px;
            }
        }
    }
    // .social{
    //     flex-direction: column;
    //     padding: 0;
    //     gap: 3em;
    //     .headings{
    //         p{
    //             font-size: 1.2rem;
    //         }
    //         .discover{
    //             font-size: 1.5rem;
    //         }
    //     }
    //     main{
    //         flex-direction: row;
    //         gap: 5em;
    //     }
    // }

    .testimonials{
        padding: 8em 8em;
        .content-sec{
            flex-direction: row;
            gap: 5em;
            .card{
                gap: 2em;
                .quote{
                    width: 80px;
                    height: auto;
                }
                p{
                    font-size: 1.3rem;
                }
                .name, .desig{
                    font-size: 1.5rem;
                }
            }
        }
    }
    .insta{
        padding: 5em 10em;
        background-color: #1c1b1b;
    }
    .yt-videos{
        gap: 8em;
        padding: 10em 0;
        .video-grid{
            grid-template-columns: auto auto;
            justify-content: space-evenly;
        }
    }
    .photo-sec{
        main{
            padding: 0 10em;
        }
    }
    footer{
        main{
            flex-direction: row;
            justify-content: space-between;
            .footer-contents{
                flex-direction: row;
                align-items: flex-start;
                gap: 3em;
                .column{
                    align-items: flex-start;
                    p{
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px){
    footer{
        padding: 5em 5em;
        main .footer-contents{
            gap: 3em;
        }
    }
    .about{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10em 5em;
        height: 100vh;
        flex-direction: row;
        .abt-details{
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            height: 100%;
            gap: 0;
            .col1{
                flex: 1;
                width: 100%;
                // height: 100%;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 3em;
                .sub-heading{
                    font-size: 4rem;
                }
                .main-cnt{
                    font-size: 2.5rem;
                    font-weight: 700;
                    text-align: left;
                }
            }
            .col2{
                flex: 1;
                height: 100%;
                .sub-cnt{
                    font-size: 1.5rem;
                }
                .loc{
                    p{
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                }
            }
            .speaker{
                height: 600px;
            }
        }
    }
    // .social{
    //     .headings{
    //         p{
    //             font-size: 1.5rem;
    //         }
    //         .discover{
    //             font-size: 2rem;
    //         }
    //     }
    //     main{
    //         gap: 6em;
    //         a{
    //             font-size: 1.5rem;
    //         }
    //     }
    // }

}

@media only screen and (min-width: 1440px){
    footer main .footer-contents{
        .address{
            .addresses{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1.5em;
                .ad{
                    border: none;
                    padding: 0;
                }
            }
        }
    }
    .about{
        .abt-details{
            .speaker{
                height: 700px;
            }
        }
    }

}