@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

// Setting default values
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

// Colors
$bg-color: #161513;


body{
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    background-color: red;

    &::-webkit-scrollbar{
        display: none;
    }
    section{
        background-color: $bg-color;
        width: 100vw;
    }
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-heading{
    font-family: Montserrat;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(106deg, #F00 -5.33%, #ADFF00 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    background-color: $bg-color;
    padding: 3em 3em;
    color: white;
    width: 100vw;
    main{
        border-top: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        padding-top: 3em;
        width: 100%;
        a img{
            width: 180px;
            height: auto;
        }
        .footer-contents{
            flex-direction: column;
            gap: 2em;
            .column{
                flex-direction: column;
                gap: .7em;
                .social-media-icons{
                    gap: 1em;
                }
                p{
                    flex-direction: column;
                }
            }
        }
    }
    
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}
.open{
    transform: scale(1,1);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    position: relative;
    padding: 1em 2em;
    z-index: 10;
    .logo-container{
        img{
            height: 30px;
        }
    }
    nav{
        width: 100vw;
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 5;
        transform: scale(1, 0);
        transform-origin: 50% 0%;
        transition: transform .1s ease-in-out;
        ul{
            width: 100%;
            background-color: #000000e2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            gap: 3em;
            list-style-type: none;
            padding: 2em 0;
            li{
                a{
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

.yt-videos{
    flex-direction: column;
    gap: 3em;
    padding: 13em 0;
    padding-top: 5em;
    .video-grid{
        display: grid;
        grid-template-columns: auto;
        place-content: center;
        row-gap: 3em;
        column-gap: 2em;
        width: 100%;
        padding: 0 1em;
        iframe{
            max-width: 100%;
        }
    }
}

.photo-sec{
    padding: 5em 0;
    main{
        flex-direction: column;
        padding: 0 1em;
        .ph1{
            flex: 1;
            width: 100%;
        }
    }
}




@media only screen and (min-width: 1000px){
    header{
        padding: 4em 9em;
        .hamburger{
            display: none;
        }
        .logo-container{
            img{
                height: 50px;
            }
        }
        nav{
            transform: scale(1,1);
            position:static;
            top: 0;
            width: auto;
            ul{
                flex-direction: row;
                background-color: transparent;
                gap: 5em;
                li{
                    a{
                        font-size: 1.25rem;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .sub-heading{
        font-size: 4rem;
    }
    .yt-videos{
        gap: 10em;
        padding: 17em 0;
        .video-grid{
            grid-template-columns: auto auto;
            justify-content: space-evenly;
        }
    }
    .photo-sec{
        main{
            padding: 0 10em;
        }
    }
    footer{
        main{
            flex-direction: row;
            justify-content: space-between;
            .footer-contents{
                flex-direction: row;
                align-items: flex-start;
                gap: 3em;
                .column{
                    align-items: flex-start;
                    p{
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px){
    footer{
        padding: 5em 10em;
        main .footer-contents{
            gap: 5em;
        }
    }
}