@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  background-color: red;
}
body::-webkit-scrollbar {
  display: none;
}
body section {
  background-color: #161513;
  width: 100vw;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-heading {
  font-family: Montserrat;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  color: #00ffb6;
}

footer {
  background-color: #161513;
  padding: 3em 3em;
  color: white;
  width: 100vw;
}
footer main {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding-top: 3em;
  width: 100%;
}
footer main a img {
  width: 180px;
  height: auto;
}
footer main .footer-contents {
  flex-direction: column;
  gap: 2em;
}
footer main .footer-contents .column {
  flex-direction: column;
  gap: 0.7em;
}
footer main .footer-contents .column .social-media-icons {
  gap: 1em;
}
footer main .footer-contents .column p {
  flex-direction: column;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.open {
  transform: scale(1, 1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  position: relative;
  padding: 1em 2em;
  z-index: 10;
}
header .logo-container img {
  height: 30px;
}
header nav {
  width: 100vw;
  display: block;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 5;
  transform: scale(1, 0);
  transform-origin: 50% 0%;
  transition: transform 0.1s ease-in-out;
}
header nav ul {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8862745098);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  list-style-type: none;
  padding: 2em 0;
}
header nav ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}
header nav ul li a:hover {
  color: #00ffb6;
}

.hero {
  flex-direction: column;
}
.hero main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 3em 0;
  padding-bottom: 2em;
  gap: 2em;
}
.hero main .headings .title {
  font-size: 3.7rem;
  color: #00ffb6;
  text-align: center;
  font-weight: 700;
}
.hero main .headings .sub-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  color: white;
}
.hero main .swiper {
  width: 100%;
  margin-bottom: 2em;
}
.hero main .swiper .swiper-pagination-bullet {
  background-color: white;
}
.hero main .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 1em;
}
.hero main .swiper .swiper-slide img {
  display: block;
  width: 100%;
  max-height: 400px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero main p {
  color: white;
  text-align: center;
  padding: 0 2em;
  font-size: 14px;
}

.yt-videos {
  flex-direction: column;
  gap: 3em;
  padding: 13em 0;
  padding-top: 5em;
  background-color: black;
}
.yt-videos .video-grid {
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  row-gap: 3em;
  -moz-column-gap: 2em;
       column-gap: 2em;
  width: 100%;
  padding: 0 1em;
}
.yt-videos .video-grid iframe {
  max-width: 100%;
}

.photo-sec {
  padding: 5em 0;
}
.photo-sec main {
  flex-direction: column;
  padding: 0 1em;
}
.photo-sec main .ph1 {
  flex: 1;
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  header {
    padding: 4em 9em;
  }
  header .hamburger {
    display: none;
  }
  header .logo-container img {
    height: 50px;
  }
  header nav {
    transform: scale(1, 1);
    position: static;
    top: 0;
    width: auto;
  }
  header nav ul {
    flex-direction: row;
    background-color: transparent;
    gap: 5em;
  }
  header nav ul li a {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .sub-heading {
    font-size: 4rem;
  }
  .yt-videos {
    gap: 10em;
    padding: 17em 0;
  }
  .yt-videos .video-grid {
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }
  .photo-sec main {
    padding: 0 10em;
  }
  footer main {
    flex-direction: row;
    justify-content: space-between;
  }
  footer main .footer-contents {
    flex-direction: row;
    align-items: flex-start;
    gap: 3em;
  }
  footer main .footer-contents .column {
    align-items: flex-start;
  }
  footer main .footer-contents .column p {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1300px) {
  footer {
    padding: 5em 10em;
  }
  footer main .footer-contents {
    gap: 5em;
  }
}/*# sourceMappingURL=styles.css.map */